/***********************debut header***************************/
.menu a {
  color: #f0c300;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  align-items: center;
}
.bg-light {
  background-color: #f2eeb8f3 !important;
}
nav {
  height: 50px;
}

/*********************** fin header ***************************/

/***********************Debut mon main************************/
body {
  background-color: #f2eeb8;
  font-family: "Raleway", sans-serif;
}
main {
  margin: 80px auto;
}
.container {
  height: 30%;
}
.img-apropos {
  border-radius: 10px;
}

p {
  text-align: center;
}
a {
  text-decoration: none;
  color: rgb(16, 22, 17);
  border: none;
}

.compétence img {
  width: 100%;
}
h2 {
  padding: 50px;
}

i {
  font-size: 50px;
  padding: 20px;
}
.card-img-top {
  height: 286px;
  width: 286px;
}

.my-button {
  background: #e4ba42;
  border: 0;
  color: white;
  padding: 15px;
  border-radius: 20px;
  transition: 0.4s ease;
}

.my-button:hover {
  background: black;
  cursor: pointer;
}
.copyright {
  text-align: center;
}
